version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker:17.05.0-ce-git
    auth:
      username: ${DOCKERHUB_USER}
      password: ${DOCKERHUB_TOKEN}
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/app.tar | true
      - run:
          name: Build application Docker image
          command: |
            docker build --cache-from=dagster -f DockerfileCore --build-arg BASE_IMAGE=python:3.9.2-slim --build-arg DAGSTER_VERSION=1.1.6 -t dagster:test .
      - run:
          name: Push Docker image
          command: |
            docker push ${DOCKERHUB_USER}/dagster:test .
workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: build_image
