version: 2
jobs:
  build:
    docker:
      - image: docker:18.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build application Docker image
          command: |
            docker build --cache-from=dagster \
              -f DockerfileCore \
              --build-arg BASE_IMAGE=python:3.9.2-slim --build-arg DAGSTER_VERSION=1.1.6 \
              -t ${DOCKERHUB_USER}/dagster:test .
      - run:
          name: Push Docker image
          command: |
            echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USER" --password-stdin
            docker push ${DOCKERHUB_USER}/dagster:test
workflows:
  version: 2
  build-and-release:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
            branches:
              only: build_image
